*.iml
.gradle
local.properties
.DS_Store
/captures
/fridaysdk
.externalNativeBuild
google-services.json
*.apk
*.ap_
*.dex
*.class
*.lm
bin/
gen/
local.properties
Thumbs.db
.idea
build/
.navigation
output.json
obj/
*.md5
captures